body{
    margin: 0;
    padding: 0;
}

.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    border-radius: 30px;
    padding: 20px 20px 0px 20px;
    position: relative;
    box-sizing: border-box;
}

.second-container{
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-color: #F5F4F9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 

}