@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000;
    padding: 20px 20px 20px 20px;
    /* border-radius: 30px; */
    width: 1600px;
    /* position: relative; */
}

.container{
    /* position: absolute; */
    width: 100%;
    margin: 0 auto;
    background-color: #F5F4F9;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.side-bar{
    border: 1px solid black;
    width: 20%;
    border-radius: 24px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#000000 ;

}
.side-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 52px;
    height: 52px;
}

.logo span {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 6%;
    color: #FFFFFF;
}

.side-options {
    margin-top: 30px;
    /* border: 1px solid black; */
}

.side-options ul {
    list-style-type: none;
}

.side-options ul li {
    margin-bottom: 10px;
}

.button-orientation {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #FFFFFF;
    gap: 15px;
    width: 100%;
    /* border: 1px solid white; */
    padding: 10px;
    cursor: pointer;
}

.button-orientation img {
    width: 22px;
    height: 22px;
}

/* .button-orientation img:hover {
    fill: invert(1);
} */

.button-orientation a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.button-orientation:hover {
    background-color: #F1EEFF;
    border-radius: 7px;

}

.button-orientation:hover img,
.button-orientation:hover a {
    filter: brightness(1) invert(1);
}


.log-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    
}
.log-out-btn button{
    width: 100%;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
    padding: 7px 10px;
    border: none;
    outline: none;

}

.main-content{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
   
}
.top-bar{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
     margin-bottom: 1rem;
}
.top-bar-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.collapse-button{
    height: 50px;
    width: 50px;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 2px 4px 4px #0000001a;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 14px;
    border-radius: 34px;
    background-color: #EBEAEF;
    width: 346px;
}

.search-bar input{
    border: none;
    outline: none;
    background: transparent;
}
.search-bar input::placeholder{
      font-family: "Poppins", sans-serif;
   font-size: 20px;
   font-weight: 400;
}
.search-text{
   font-family: "Poppins", sans-serif;
   font-size: 20px;
   font-weight: 400;
   
}

.top-bar-right{
    display: flex;
    flex-direction: row;
    gap: 12px;
    /* position: relative; */
}

.right-button{
    width: 50px;
    height: 50px;
    border-radius: 35px;
    padding: 12px;
    background-color: #ECEBF1;
    display: flex;
    flex-direction: row;
    outline: none;
    border: none;
    
}

.right-button img{
   width: 24px;
   height: 24px;
}

.info-edit{
    width: fit-content;
    /* border: 1px solid black; */
}

.info-edit span{
     font-family: "Inter", sans-serif;
     font-weight: 500;
     font-size: 32px;
     line-height: 120%;
     letter-spacing: 1%;
     vertical-align: middle;
     padding-left: 10px;
}

.edit-buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
    /* border: 1px solid black; */
}
.edit-buttons button{
    background-color: #FFFFFF;
    border-radius: 52px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    vertical-align: middle;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #010101;
    width: 7rem;
    border: none;
    outline: none;
    height: 2rem;
}
#save-button{
    background-color: #2F7BFF;
}

.form-container{
    /* border: 1px solid black; */
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.basic-info{
    display: flex;
    flex-direction: column;
}
.card{
    
    /* border: 1px solid black; */
    background-color: #FFFFFF;
    border-radius: 23px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1%;
    vertical-align: middle;
    /* padding: 15px; */
}
.card input{
    border-radius: 8px;
    border: 1px solid #D4D4D4;
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: inset 0px 2px 4px 0px rgb(0,0,0,0.19);
}
input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1%;
    vertical-align: middle;
    color: #A7A7A7;
    
}
.card-top-bar{
    border-bottom: 1px solid #BFBFBF;
    padding: 15px;
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1%;
    vertical-align: middle;
}

.left-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
    width: 50%;
    padding: 10px 5px;
}
.card-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
}
.left-side-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.right-side-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gender{
    display: flex;
    justify-content: space-between;
    /* background-color: #B4B4B4; */
    font-size: 16px;
}
.scroll-button{
    display: flex;
    justify-content: space-between;
    
}
.scroll-button button
{
    width: 7rem;
    height: 2rem;
    background-color: #F1EEFF;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.upload{
    border:2px dashed #8E8E8E;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 1.5rem;
}
.upload span{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0%;
}
.upload button{
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 38px;
    border: 1px solid #C4C4C4;
}
.parent-info{
    display: flex;
    flex-direction: column;
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.right-form-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50%;
    padding: 10px 5px;
    gap: 10px;
}
.address{
    padding:0px 15px;
}

.checkboxes{
    padding: 15px;
}

.check-box-a{
    display: flex;
    gap: 15px;
}
.check-box-b{
    display: flex;
    gap: 15px;
}
.check-box-1{
    border: 1px solid black;
    border-radius: 40px;
    background-color: #ffffff;
    padding: 0.7rem 1.5rem;
     font-family: "Inter", sans-serif;
     font-weight: 400;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: 1%;
     vertical-align: middle;
     padding-left: 10px;
}
.check-box-1 label{
    text-align: center;
}

