body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container {
    background-color: #F5F4F9;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}


/* first grid */
.first-grid {
    display: grid;
    grid-template-columns: 15% auto;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.nav-bar {
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.company-description {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company-name {
    color: #fff;
}

.logo {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.nav-items {
    margin-top: 25px;
}

.nav-items ul {
    list-style-type: none;
    padding: 0;
}

.nav-items li {
    margin-bottom: 10px;
}

.nav-items a {
    text-decoration-line: none;
    padding: 8px;
    display: block;
    color: #fff;
    width: auto;
    border-radius: 10px;
    align-items: center;
}

.nav-items a:hover {
    background-color: #d6d2d2;
    color: #000;
}

.log-out {
    width: 100%;
    padding: 5px 6px;
    border-radius: 4px;
    border: none;
    text-align: left;
}

.log-out:hover {
    background-color: #665454;
    color: #fff;
}


/* second grid */

.second-grid {
    background-color: #F5F4F9;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 15% auto;
    gap: 10px;

}

.account-info {
    background-color: #F5F4F9;
    border-radius: 10px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50% auto;
    padding: 10px;
    gap: 5px;
}

.accessing-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
}

.search-field{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    gap: 5px;
    padding: 4px;
}

.back-button {
    background-color: #a2a1a1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    padding: 7px;
    cursor: pointer;
    /* margin-right: 5px; */
    
}

.back-button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.search-field input {
    border: none;
    border-radius: 15px;
    padding: 7px;
    background-color: #a2a1a1;
    width: 100%;
}

.search-field input:hover {
    background-color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.alert-button{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    justify-content: end;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.alert-button button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #a2a1a1;
    cursor: pointer;
    text-align: center;
}

.alert-button button:hover{
    background-color: #fff;
    transform: scale(1.2) ;
    transition: transform 0.3s ease-in-out;
}

#account{
    width: 40px;
    height: 40px;
}
.alert-button img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.alert-button img:hover{
    /* border: 2px solid black; */
    transform: scale(1.2) ;
    transition: transform 0.3s ease-in-out;
}

.modification-section{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    align-items: end;
}

.information h2{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: end;
}
.modification-button{
    display: flex;
    justify-content: end;
    gap: 10px;
    /* align-items: start; */
    align-items: end;
}
.modification-button button{
    padding: 3px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#save-details{
    background-color: #848beb;
    color: #fff;
}

.modification-button button:hover{
    background-color: #fff;
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* third grid */

.third-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fourth-grid {
    display: grid;
    grid-template-rows: 50% auto;
    gap: 10px;
}

.fifth-grid {
    display: grid;
    grid-template-rows: 20% 50% auto;
    gap: 10px;
}

.basic-info {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.parent-detail {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}
.parent-detail h3{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 0;
    padding: 0;
}
.parent-info{
    display: flex;
    gap: 20px;
    /* border: 1px solid black; */
    /* margin-top: 7px;
    /* margin-bottom: 10px; */ 
}

.parent-info{
    margin-top: 3px;
}
.parent-info p{

    margin: 0;
    padding: 0px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    /* margin-bottom: 10px; */
}
.parent-info input{
    width: 100%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
    box-sizing: border-box;
}

.login {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}
.login h3{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.login .text-box{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}

.login-username{
    width: 50%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
}

.login-password{
    width: 50%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
}

.contact-info {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
    padding: 7px;
}

.contact-info h3{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 0;
    padding: 0;
}
.personal-info{
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
    margin-top: 7px;
    margin-bottom: 10px;
}

.personal-info p{

    margin: 0;
    padding: 0px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.phone-number{
    width: 50%;
    /* border: 1px solid black; */
}
.email{
    width: 50%;
    /* border: 1px solid black; */
}
.phone-number input{
    width: 100%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
    box-sizing: border-box;
}
.user-email{
    width: 100%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
    box-sizing: border-box;
}
.address p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
}
.address .area{
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
    box-sizing: border-box;
}

.address .location-box{
    display: flex;
    gap: 10px;
    margin-top: 3px;
}
.address .pincode-box{
    display: flex;
    gap: 10px;
    margin-top: 3px;
}

.location{
     width: 50%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
}
.district{
     width: 50%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
}
.pincode{
     width: 50%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
}

.state{
     width: 50%;
    padding: 7px;
    border: 1px solid #cfcdcd;
    border-radius: 10px;
}


.additional-info {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff;
}