body {
    margin: 0;
    padding: 0;
    background-color: #020202;
}

.container {
    box-sizing: border-box;
    background-color: #f1e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
}

.all-details {
    display: grid;
    gap: 7px;
    /* grid-template-areas: "nav-bar account-info" "nav-bar information-section"; */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7);
    height: 100%;
    width: 100%;
}

.items {
    /* border: 1px solid black; */
    padding: 10px;
}

#nav-bar {
    grid-row: 1/6;
    background-color: #000;
    border-radius: 7px;
}



#nav-bar p{
    color: #fff;
}

#account-info {
    grid-column: 2/8;
    border-radius: 7px;
}

#basic-information {
    grid-row: 2/4;
    grid-column: 2/5;
    border-radius: 7px;
    background-color: #fff;
}

#parent-detail {
    grid-row: 4/6;
    grid-column: 2/5;
    border-radius: 7px;
    background-color: #fff;
}

#login-detail {
    grid-column: 5/8;
    border-radius: 7px;
    background-color: #fff;

}

#contact-info {
    grid-column: 5/8;
    grid-row: 3/5;
    border-radius: 7px;
    background-color: #fff;
}

#additional-info {
    grid-column: 5/8;
    border-radius: 7px;
    background-color: #fff;
}